body {
  font: 1.2em / 1.5 sans-serif;
}
/* Add styles here */

#special {
    background-color: yellow;
}

.alert {
    border: 2px solid; 
    border-color: #7d7d7d;
}

.alert.stop {
    background-color: red;
}

.alert.go {
    background-color: green;
}