body {
  font: 1.2em / 1.5 sans-serif;
}
/* Add styles here */

h1 {
    color: #00f;
}

h2 {
    color: #fff;
    background-color: #00f;
}

span {
    font-size: 200%;
}

#special {
    background-color: yellow;
}

.alert {
    border: 2px;
    border-color: ;
}